[Desktop Entry]
Version=1.0
Type=Application
Name=KeeWeb
Icon=/home/cyryl/programs/keeweb/128x128.png
Exec=/home/cyryl/programs/keeweb/KeeWeb
Terminal=false
