/* Minimalistic, fzf-like config for wofi */

/* Solarized-dark colors, blue accent */
@define-color base03    #002b36;
@define-color base02    #073642;
@define-color base01    #586e75;
@define-color base00    #657b83;
@define-color base0     #839496;
@define-color base1     #93a1a1;
@define-color base2     #eee8d5;
@define-color base3     #fdf6e3;
@define-color yellow    #b58900;
@define-color orange    #cb4b16;
@define-color red       #dc322f;
@define-color magenta   #d33682;
@define-color violet    #6c71c4;
@define-color blue      #268bd2;
@define-color cyan      #2aa198;
@define-color green     #859900;

@define-color bg_color @base03;
@define-color accent   @blue;

window {
    /* borders aren't drawn by compositors so we do it */
    border: 3px solid @accent;
    border-radius: 0px;

    background-color: alpha(@bg_color, 0.9);
    color: @base0;

    font-size: large;
}

#outer-box {
    margin: 15px;
    border: none;
    outline: none;
}

#input {
    outline: none;
    background: none;
    box-shadow: none;

    color: @base0;

    /* underline search field */
    border-width: 0 0 3px 0;
    border-radius: 0px;
    border-style: solid;
    border-color: @accent;
}

#input:focus {
    outline: none;
    background: none;
    box-shadow: none;

    color: @base1;
    font-weight: bold;
}

#inner-box {
    border: none;
}

#entry * {
    outline: none;
    background: none;
    box-shadow: none;
}

#entry:selected {
    outline: none;
    background: none;
    box-shadow: none;

    color: @base1;
    font-weight: bold;
}

#img {
    margin-right: 0.5em;
}

/* TODO: dropdown */
expander list #text {
    font-size: medium;
    color: @base0;
}

expander list *:focus #text {
    color: @base1;
    font-weight: bold;
}

